* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #FFFACB;
}

.container {
    background-color: #FFFACB;
    padding: 20px;
}
.navbar {
    background-color:transparent;
    padding: 20px;
    margin-bottom: 10px;
    flex-direction: column;
}
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
}
.navbar ul li {
    margin-left: 10px;
}
.logo-adm{
    position:absolute; 
    width: 400px;

}
.cerrar_sesion{
    background-color: #D9D9D9;
    margin: 0px 0px 30px 90px; 
    width: 180px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 6px 10px 6px #e0e0e0;
    position: relative;
}
.Usuario {
    color: black;
    font-size: 22px;
}
.row-ing-art{
    background-color: transparent; 
    position: center;  
}
.btn_atras {
    margin: 40px 20px;
    width: 250px;
    height: 60px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #D9D9D9;
    border-radius: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    cursor: pointer;
    box-shadow: 0 6px 10px 6px #e0e0e0;
}
.row-fluid{
    background-color:transparent;
    border-radius: 20px;
}
/* Estilos para el formulario de ingresar articulos */
fieldset {
    background-color:#afdfee;
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
legend {
    background-color:#afdfee;
    font-size: 20px;
    color: black;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
}
.form-group {
    margin-bottom: 20px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
label {
    font-size: 16px;
    color: black;
}
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
}
input[type="submit"] {
    background-color: #D9D9D9;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 6px 10px 6px #e0e0e0;
}
/* Media queries para diseño responsive */
@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: flex-end;
    }

    .cerrar_sesion {
        margin-top: 10px;
        margin: 140px 0px 30px 90px;  
    }
    .Usuario {
        margin-top: 10px;
        margin: 0px 0px 30px 90px;
    }

    input[type="text"],
    input[type="password"],
    input[type="submit"] {
        width: 100%;
    }
}
